.post_img {
    max-height: 400px;
    display: flex;
    width: 540px;
    height: 350px;
    margin-bottom: 5px; 
  }

.post_card{

    justify-content: flex-start;
    padding-left : 15px;
    padding-right: 15px;
    padding-top : 5px;
    padding-bottom : 10px;
    height : 450px;
    width : 550px;
}

.post_info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 85px;
    width: 540px;
}
.post_info_text{
    margin : 0px;
}

.react_buttons {
    
}