
#error_id{

    color: red;
    text-align: left;
}

.error_input_class{

    border-color:red;
    border-radius: 5px;
    width: 50%;
}

.input_class{
    border-radius: 5px;
    border-color:black;
    width: 50%;
}


.card{
    text-align: center;
    width : 60%;
    justify-content: center;
}

.main_class{
    text-align : center;
}
.button {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 5px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 1rem;
  }

  .button:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }

  
